{% extends 'default.html' %}
{% block title %} Services {% endblock %}
   

     
{% block content %}
<h1>Services</h1>
<body>
    <div class="container">
       
        <div class="service">
            <h2>Gestion des Employés</h2>
            <p>Nous proposons une plateforme complète pour gérer efficacement les données des employés. Vous pouvez ajouter, modifier et supprimer des employés, ainsi que consulter des informations détaillées sur chaque membre de votre équipe.</p>
        </div>
        <div class="service">
            <h2>Gestion des Départements</h2>
            <p>Notre système vous permet de créer et de gérer des départements au sein de votre entreprise. Vous pouvez organiser vos équipes de manière efficace et attribuer des employés à différents départements selon leurs fonctions et leurs responsabilités.</p>
        </div>
        <div class="service">
            <h2>Connexion Sécurisée</h2>
            <p>Votre sécurité est notre priorité. Nous utilisons des protocoles de connexion sécurisés pour garantir la confidentialité et l'intégrité de vos données. Vous pouvez vous connecter en toute confiance et accéder à vos informations en toute sécurité.</p>
        </div>
        <div class="service">
            <h2>Support Client</h2>
            <p>Notre équipe de support client est disponible pour répondre à vos questions et résoudre tout problème que vous pourriez rencontrer. Nous sommes là pour vous aider à tirer le meilleur parti de notre plateforme et à assurer le bon fonctionnement de votre gestion des ressources humaines.</p>
        </div>
    </div>
</body>
{% endblock %}